/* custom properties */
:root{
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    /* outside container has to be hidde */
    overflow: hidden;
}
.nav{
    height: 80px;
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: repeat(2, max-content);
    /* areas definition: 1st celda logo 2n icon */
    grid-template-areas: "logo icon";
}
.nav__brand{
    grid-area: logo;
}
.nav__hamburger{
    grid-area: icon;
}
.nav__icon{
    width: 100%;
}
.nav__hamburger--close{
    display: none;
}
/* main */
.main{
    padding: 28px 0;
}
.main__bg{
    width: 100%;
    height: 300px;
    background-image: url(../assets/images/image-web-3-mobile.jpg);
    background-size: cover;
    background-position: center;
}
.main__tests{
    margin-top: 20px;
}
.main__title{
    font-size: 2.5rem;
    color: var(--very-dark-blue);
}
.main__paragraph{
    line-height: 1.5;
    color: var(--dark-grayish-blue);
    margin: 1em 0;
}
.main__cta{
    font-weight: 700;
    display: inline-block;
    text-decoration: none;
    background-color: var(--soft-red);
    color: #fff;
    /* transform text lowercase in Uppercase */
    text-transform: uppercase;
    padding: .9em 2.5em;
}
/* sidebar */
.sidebar{
    background-color: var(--very-dark-blue);
    color: #fff;
    padding: 1em;
}
.sidebar__article{
    border-bottom: 1px solid var(--grayish-blue);
    padding-bottom: 1.5em;
    padding-top: 1.5em;
}
/* pseudo-class. to select the last element de tipe "sidebar__article" */
.sidebar__article:first-of-type{
    padding-top: 0;
}
.sidebar__article:last-of-type{
    border:none;
    margin: 0;
    /* background-color: tomato; */
}
.sidebar__title{
    color: var(--soft-orange);
    font-size: 2rem;
    margin-bottom: 2rem;
}
.sidebar__link{
    /* this property is because I want to give margin  */
    display:inline-block;
    color:#fff;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: .8rem;
}
.sidebar__content{
    line-height: 1.5;
    color: var(--grayish-blue);
}
